<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detection Dashboard</title>
</head>
<body>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

<h2>Welcome {{session['user']}}</h2>

<a href="/logout">Logout</a> |
<a href="/alerts">View Fraud Alerts</a>

<h3>Upload CSV File for Fraud Detection</h3>
<div class="upload-container">
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" required><br><br>
        <button type="submit">Scan File</button>
    </form>
</div>

{% if alert %}
<h3 style="color:red">🚨 HIGH RISK FRAUD DETECTED!</h3>
{% endif %}

{% if results %}
<table border="1" cellpadding="8">
<tr>
{% for k in results[0].keys() %}
<th>{{k}}</th>
{% endfor %}
</tr>

{% for r in results %}
<tr>
{% for v in r.values() %}
<td>{{v}}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endif %}

{% for msg in get_flashed_messages() %}
<p style="color:red">{{msg}}</p>
{% endfor %}

</body>
</html>
